<% if !comment.commenter.nil? %>
  <div class="comment">
  
    <div class="flex-row">
      <p class='commenter'>
        <%= comment.commenter %>
      </p>
      <%= link_to 'â—', [comment.article, comment], class: 'comment-delete', method: :delete, data: {confirm: "Are you sure?" } %>
    </div>

    <p class='comment-body'>
      <%= comment.body %>
    </p>
    <p class='comment-time'><%= comment.created_at.strftime("%H:%M | %Y-%m-%d")%></p>
  </div>
<% end %>