<header class="contact-header">
  <a href="https://github.com/NorthOC" target='_blank' class='contact-link'>
      <%= image_tag('github-logo.png', width: '50%', class: 'contact-image', alt: "Github logo outline") %>
  </a>
</header>