<header class='article-header'>
  <h1 class='article-title'>In One Sentence...</h1>
</header>

<div class="article-container">
    <p class='accent text-align-center'>A collection of various drug trip stories from around the world...</p>
</div>

<header class='article-header'>
  <h2 class='article-subtitle'>Mission statement</h2>
</header>

<div class="article-container">
    <p class='accent-lite text-align-center'>To educate the public on safe drug use and document various substance & dosage effects.</p>
</div>

<header class='article-header'>
  <h2 class='article-subtitle'>The Details</h2>
</header>

<div class="article-container">
    <section class="article-section text-align-justify">
      <p>Hi! I'm a non-profit one-man-army operation in the works. I started this website as a mere way of learning Ruby On Rails and, with time, it has evolved into something more. The plan is to launch this as a MVP, and build it from there. It might take some time, but, eventually we'll get there!</p>
      <p>For now, only I can add stories, but, in the future, you'll be able to do that too! The current version that you are seeing is made for TheOdinProject and will not be updated further.</p>
    </section>
</div>