/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
   --clr-primary01: #50fa7b;
   --clr-primary02: #282a36;
   --clr-secondary01: #030e12;
   --clr-secondary02: 	#6272a4;
   --clr-secondary03: #383a59;
   --clr-neutral: #f8f8f2;
   --pink: #ff79c6;
   --red: #ff5555;
 }

 *, *::before, *::after {
   box-sizing: border-box;
 }

 html{
   height: 100%;
 }
 body{
   margin: 0;
   padding-top: 4rem;
   min-height: 100vh;
   height: 100%;
   background-color: var(--clr-primary02);
   font-family: Ubuntu, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 h1, p{
   margin: 0;
 }

 header{
  text-align: center;
 }
 nav{
   width: 100%;
   position: fixed;
   top: 0%;
   height: 3rem;
   background: var(--clr-primary02);
   -webkit-box-shadow: 0px 5px 10px 0px rgb(0,0,0,0.15);
    box-shadow: 0px 5px 10px 0px rgb(0,0,0,0.15);
   z-index: 9999999;
 }
 .navlink {
   float: right;
   text-decoration: none;
   color: var(--clr-neutral);
   margin: 0.6rem 0.7rem;
   font-weight: 300;
   font-size: 1.4rem;
   border-bottom: 1px solid transparent;
   transition: border-bottom 800ms ease;
   z-index: 9999999;
 }
 .navlink:hover{
   transition: 500ms;
   color: var(--pink);
   border-bottom: 1px solid var(--pink);
 }
 .new-article-nav{
   text-decoration: none;
   color: var(--clr-primary02);
   font-size: 2rem;
   background-color: var(--clr-primary01);
   margin: 10px;
   padding: 5px 15px;
 }
 .intro-title{
   position: relative;
   display: inline-block;
   color: var(--clr-neutral);
   background-color: var(--clr-secondary01) ;
   border-radius: 4px;
   margin-bottom: 1.5rem;
   padding: 1.5rem 3.5rem 1.7rem 3.5rem;
   font-weight: 100;
   -webkit-box-shadow: 5px 5px 0px 0px #062413, 10px 10px 0px 0px #0d4b31, 15px 15px 0px 0px #178043, 20px 20px 0px 0px #1aa04d, 23px 20px 12px -11px rgba(0,0,0,0); 
   box-shadow: 5px 5px 0px 0px #062413, 10px 10px 0px 0px #0d4b31, 15px 15px 0px 0px #178043, 20px 20px 0px 0px #1aa04d, 23px 20px 12px -11px rgba(0,0,0,0);
 }
 .intro-title::after{
  display: block;
  position: absolute;
  font-style: normal;
  content: 'by NorthOC';
  background-color: var(--clr-primary01);
  color: var(--clr-secondary01);
  border-radius: 3px;
  padding: 0.2rem 0;
  font-size: 0.8rem;
  margin-left: 6rem;
  width: 50%;
  font-weight: 500;
  transform: skew(0deg, 2deg);
  -webkit-box-shadow: 3px 3px 7px 1px #000000; 
  box-shadow: 3px 3px 7px 1px #000000;
 }

 .flex{
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content:center;
 }

 .list{
    list-style-type:none;
    padding: 0;
 }
.container {
  margin: 15px auto;
  width: 80%;
}

.card {
  min-width: 15rem;
  min-height: 10rem;
  max-width: 30rem;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-secondary02);
  border-radius: 15px 15px 20px 20px;
  justify-content: flex-end;
  text-decoration: none;
  color: var(--clr-neutral);
  box-shadow: 1px 1px 7px 1px #000000;
}

.card > h5 {
  margin: 0;
  padding: 10px;
  font-size: 1.5rem;
  background-color: var(--clr-secondary03);
  font-weight: 500;
}
.card-desc {
  margin: 0;
  padding: 5px 15px;
  text-align: right;
  font-size: 0.8rem;
  background-color: var(--clr-secondary03);
  border-radius: 0 0 15px 15px;
  border-top: 1px solid rgba(255, 255, 0, 0.377);
}
.float-left{
  float: left;
}

footer {
  position: absolute;
  bottom: 0;
  width:100%;
  text-align: center;
}
.footer-cont{
  min-height: 100%;
  position: relative;
  padding-bottom: 5rem;
}

.text-align-center{
  text-align: center;
}
.text-align-justify{
  text-align: justify;
}
.text-align-right{
  text-align: right;
}