// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.weed{
  background-image: url(weed.jpg);
}

.article-section{
  line-height: 1.5rem;
  color: white;
  text-indent: 2rem;
}

.article-section > p{
padding: 0.8rem 0 0.2rem 0;
}
.article-title{
  color: var(--clr-primary01);
  margin: 0 auto;

  &::after{
    display: block;
    content: '';
    width: 70%;
    margin: 1rem auto;
    height: 2px;
    background-color: var(--clr-primary01);
  }

}

.article-subtitle{
  color: var(--pink);
}

.article-header{
  margin: auto 1rem;
}

.article-container {
  margin: 15px auto;
  width: 60%;
}

.article-flex-container{
  margin: 15px auto;
}

@media only screen and (max-width: 950px) {
  .article-container {
    width: 80%;
    margin: 15px auto;
  }
  .article-title::after{
    display: none;
  }

}
.accent{
  letter-spacing: 0.3rem;
  color: var(--clr-neutral);
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.accent-lite{
  letter-spacing: 0.3rem;
  color: var(--clr-neutral);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

label{
  font-size: 1.5rem;
  color: var(--pink);

}

#article_title, #article_body{
  font-size: 1rem;
  border-radius: 5px;
  padding: 12px 10px;
  color: var(--clr-neutral);
  display: block;
  resize: none;
  background-color: var(--clr-secondary03);
  border: 0;
  outline: 0;
  width: 100%;
  margin: 10px 0px;
}

#article_body{
  min-height: 360px;
}

#article_status {
  margin-top: 7px;
  border: 0;
  background-color: var(--clr-secondary03);
  color: var(--clr-neutral);
  border-radius: 4px;
  font-size: 1.2rem;
}

.button {
  background-color: var(--clr-primary01);
  border: none;
  color: var(--clr-secondary01);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  filter: opacity(80%);
  transition: filter 300ms ease;
}
.button:hover{
  transition: 300ms;
  filter: opacity(95%);
}
.error-msg{
  color: red;
  padding-left: 10px;
}